<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/nila.jpeg" alt="Nila Enjeli" class="img-thumbnail rounded-circle" width="200px"/>
            <h1 class="display-4">Nila Enjeli</h1>
            <p class="lead"> Mahasiswi Politeknik Negeri Padang</p>
        </div>
    </div>
</div>

